body{
  display:flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
    font-size:13px;
    line-height: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  --color-edge: white;
  --thick-edge: 0.2px;
  --style-edge: solid;
}










#status{
  color:rgb(209, 209, 209);
  margin-bottom: 40px;
  opacity: 0;
}


#logo{
    width:200;
    height:auto;
}

#defaultCanvas0{
    border:transparent;
}


* {box-sizing: border-box;}

p{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h2{
    color:white;
}

p{
    color:white;
}


#status{
  color:rgb(209, 209, 209);
  margin-bottom: 10px;
  opacity: 0;
}

.container {  
  width: 75%;
  content: "";
  padding-top: 50px;
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.item {
  float: left;
  width: 33.33%;
  height: 700px;
  
}

.item-left {
  padding:20px;
  float: left;
  width: 33.33%;
  height: 700px;
  
}

.item-right {
  padding:20px;
  float: right;
  width: 33.33%;
  height: 700px;
  
}

.item-center {
  padding: 10px;
  display: inline-block;
  width: 33.33%;
  height: 700px;
  
}

@media (max-width: 700px) {
  .item-left,
  .item-center,
  .item-right {
    width: 100%;
  }
}


img{
  height: 256px;
  width: 256px;
  box-shadow: none !important;
}

button{
  margin: 25px;
  padding: 5px 9px;
  border: 1px solid white;
  margin: 5px 5px 5px 5px;
  color:white;
  font-family: 'Dosis', sans-serif;
  background: black;
  cursor: pointer;
}

#buttons{
  margin-top: 20px;
}

#app{
  margin: 0px 0px 10px 0px;
}


canvas{
  border: 1px solid rgb(224, 224, 224);
}

#output{
  border: 1px solid rgb(224, 224, 224);
  height: 256px;
  width: 256px;
}


.btn:hover{
  color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.5)
  
}


.booth{
    width:256px;
    height: 256px;

}


